<p>Enter the username and password!</p>
  <form action='/signup' method='post'>
    <div>
      <label for='username'>Username:</label>
      <input id='username' name='username' type='text'>
    </div>
    <div>
      <label for='password'>Password:</label>
      <input id='password' name='password' type='password'>
    </div>
    <div>
      <label for='checkpassword'>Re-type Password:</label>
      <input id='password' name='checkpassword' type='password'>
    </div>
    <div>
      <input type='submit' value='Sign Up'>
    </div>
  </form>